<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">De que tracta aquesta pàgina?</h2>
                <hr class="light">
                <p class="text-faded">La web té el paper d'informar sobre els diferents tipus de projectes que realitzarem al llarg dels trimestres a 4 d'ESO.</p>
                <!--<a href="#" class="btn btn-default btn-xl">Inici</a>-->
            </div>
        </div>
    </div>
</section>
